body {
    margin: 20px;
    width: 100wv;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    display: flex;
}

.info{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 30px;
    margin: 30px;;
    border-style: dashed;
    border-color: gold;
    text-align: center;
}

.device-title{
    margin-top: 0px;
    color: gold;
    font-family: "Arizonia", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 50px;
}

.device{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 100px;
    width: 750px;
    height: 750px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.grid-container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: gray;
}

.reset-button{
    width: 100px;
    height: 30px;
    margin-top: 10px;
}

.knobs-container{
    display: flex;
    justify-content: space-between;
    width: 650px;
}

.knobs{
    display: flex;
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    margin: 0px;
    padding: 0px;;
}

.amount-of-SPS{
    height: 20px;
    text-align: center;
    margin-top: 30px;;
}